   <div class="counseling">
      <%# 繰り返し表示で出す。インデックスはランダムか？？ %>
      <div class="counseling-text">
        <h2>愛してるのひと言がどうしても言えない。</h2>
        <p class="profile">東京都 バービーボイズ 17歳 男</p>
        <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>
        <ul>
          <li>例えば、毎週土曜日にデートするようにして土曜日の男という印象を植えつける。</li>
          <li>三回や四回デートしたその先は手を伸ばさなきゃだめだね。</li>
          <li>歩く時に肩に手を回すなりして、人がいない時にパッとキスをする時、またはＣまでもっていって「愛してる」と言えばいい。</li>
        </ul>
      </div>
    </div>